<div class="min-h-screen flex flex-row">
    <div class="h-screen surface-section border-right-1 surface-border">
        <div class="surface-section h-screen border-right-1 surface-border flex flex-column select-none">
            <div class="p-3 flex align-items-center justify-content-center">
                <!--        <img src="assets/images/blocks/logos/hyper-700.svg" alt="Image" height="40">-->
            </div>
            <ul class="list-none p-2 m-0">
                <li *ngFor="let navItem of navItems">
                    <a pRipple [routerLink]="navItem.route" routerLinkActive="text-white"
                       class="flex align-items-center text-800 cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150 no-underline">
                        <i class="pi mr-2" [ngClass]="navItem.icon"></i>
                        <span class="font-medium">{{navItem.text}}</span>
                    </a>
                </li>
            </ul>
            <div class="p-2 mt-auto border-top-1 surface-border">
                <ng-container *ngIf="user$ | async as user">
                    <ul class="list-none p-2 m-0 hidden origin-bottom animation-duration-150">
<!--                        <li>-->
<!--                            <a pRipple-->
<!--                               class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150">-->
<!--                                <i class="pi pi-user mr-2"></i>-->
<!--                                <span class="font-medium">Profile</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a pRipple-->
<!--                               class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150">-->
<!--                                <i class="pi pi-cog mr-2"></i>-->
<!--                                <span class="font-medium">Settings</span>-->
<!--                            </a>-->
<!--                        </li>-->
                        <li>
                            <a pRipple (click)="logout()"
                               class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150">
                                <i class="pi pi-sign-out mr-2"></i>
                                <span class="font-medium">Log Out</span>
                            </a>
                        </li>
                    </ul>
                    <a pRipple
                       class="p-3 flex align-items-center cursor-pointer text-700 hover:surface-100 border-round transition-colors transition-duration-150"
                       pStyleClass="@prev" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
                       leaveActiveClass="fadeout">
                        <img [src]="user.photoUrl" class="mr-2 border-circle"
                             style="width: 28px; height: 28px"/>
                        <span class="font-medium text-sm">{{user.displayName}}</span>
                        <i class="pi pi-chevron-up ml-auto"></i>
                    </a>
                </ng-container>

                <p-overlayPanel #op>
                    <p-button styleClass="p-button-outlined cursor-pointer" (click)="login(providers.Google)">
                        <div class="flex align-items-center gap-2">
                            <img src="assets/images/google-logo.png" width="20px">
                            <span>Google</span>
                        </div>
                    </p-button>
                </p-overlayPanel>
                <div class="flex justify-content-center">
                    <p-button *ngIf="!(user$ | async)" styleClass="p-button-raised cursor-pointer" (click)="op.toggle($event)">Log In</p-button>

                </div>

            </div>
        </div>
    </div>
    <div class="h-screen relative flex-1 overflow-y-auto">
        <router-outlet></router-outlet>
    </div>
</div>
