<app-top-banner [showSearch]="true" (searchResult)="searched($event)"></app-top-banner>
<div
    class="flex justify-content-between align-items-center px-5 sticky z-5"
    style="height:60px; top: 64px">
    <p-button (click)="resetAllRecipes()">Reset All</p-button>
</div>

<!--<p-table [value]="$any(items$ | async) | keyvalue | filter:filterHandPicked" dataKey="key">-->
<!--    <ng-template pTemplate="header">-->
<!--        <tr>-->
<!--            <th style="width:5%"></th>-->
<!--            <th style="width:5%"></th>-->
<!--            <th></th>-->
<!--            <th style="width:10%">Remaining</th>-->
<!--            <th style="width:10%">Total</th>-->
<!--        </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-item let-expanded="expanded">-->
<!--        <tr>-->
<!--            <td>-->
<!--                <button type="button" pButton pRipple [pRowToggler]="item" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>-->
<!--            </td>-->
<!--            <td>-->
<!--                <img [src]="'assets/images/' + item.key + '.png'" height="32px" [alt]="item.value.name">-->
<!--            </td>-->
<!--            <td>{{item.value.name}}</td>-->
<!--            <td></td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="rowexpansion" let-item>-->
<!--        <tr>-->
<!--            <td colspan="5">-->
<!--                {{item | json}}-->
<!--            </td>-->
<!--        </tr>-->
<!--    </ng-template>-->
<!--</p-table>-->

<form [formGroup]="productivityGroup" (ngSubmit)="save()">
    <p-card *ngFor="let item of $any(items$ | async) | keyvalue | filter:filterHandPicked"
            [formGroupName]="item.key" styleClass="productivity-items m-3">
        <ng-template pTemplate="header">
            <div class="flex align-items-center px-2 border-bottom-1 surface-border gap-3">
                <div style="width:32px">
                    <img [src]="'assets/images/' + item.key + '.png'" height="32px" width="32px" [alt]="item.value.name">
                </div>
                <h3 class="flex-1 text-primary">{{item.value.name}}</h3>
                <p class="w-10rem font-bold text-lg"
                   [ngClass]="{'negative': productivityGroup.get(item.key)?.get('remaining')?.value < 0, 'positive': productivityGroup.get(item.key)?.get('remaining')?.value > 0}">
                    {{productivityGroup.get(item.key)?.get('remaining')?.value | number}}
                    <span *ngIf="items[item.key].piped">m3</span>
                </p>
                <p class="w-10rem font-bold text-lg">
                    {{productivityGroup.get(item.key)?.get('total')?.value | number}}
                    <span *ngIf="items[item.key].piped">m3</span>
                </p>
            </div>
        </ng-template>
        <ul class="list-none m-0 px-2">
            <ng-container *ngFor="let recipe of item.value.recipes | keyvalue | filter:{}; let last = last" formGroupName="recipes">
                <li class="flex align-items-center" [formGroupName]="recipe.key" style="height:42px">
                    <p class="flex-1 m-0">{{recipe.value.name}}</p>
                    <p class="w-10rem text-white-alpha-70 m-0 cursor-pointer"
                       *ngIf="!productivityGroup.get(item.key)?.get('recipes')?.get(recipe.key)?.value.editing"
                       (click)="toggleInlineInput(item.key, recipe.key)">
                        {{productivityGroup.get(item.key)?.get('recipes')?.get(recipe.key)?.value.rate}}
                        <span *ngIf="items[item.key].piped">m3</span>
                    </p>
                    <input
                        *ngIf="productivityGroup.get(item.key)?.get('recipes')?.get(recipe.key)?.value.editing"
                        class="p-inputtext-sm" appAutoFocus
                        pInputText type="number" min="0" formControlName="rate" #productivityGroupRate>
                </li>
                <p-divider *ngIf="!last"></p-divider>
            </ng-container>
        </ul>
    </p-card>
</form>
