<div
    class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border sticky top-0 z-5"
    style="height:60px">
    <div class="flex header-search">
        <span class="p-input-icon-left">
            <i class="pi pi-search relative"></i>
            <input type="text" pInputText class="border-none w-10rem sm:w-20rem" [formControl]="search"
                   placeholder="Search">
        </span>
    </div>
</div>

<form [formGroup]="productivityGroup">
    <p-card *ngFor="let item of $any(items$ | async) | keyvalue | filter:filterHandPicked"
            [formGroupName]="item.key" styleClass="productivity-items m-3">
        <ng-template pTemplate="header">
            <div class="flex align-items-center px-2 border-bottom-1 surface-border gap-3">
                <div>
                    <img [src]="'assets/images/' + item.key + '.png'" height="32px" [alt]="item.value.name">
                </div>
                <h3 class="flex-1 text-primary">{{item.value.name}}</h3>
                <p class="w-10rem font-bold text-lg">
                    {{productivityGroup.get(item.key)?.get('total')?.value | number}}
                    <span *ngIf="items[item.key].piped">m3</span>
                </p>
                <p class="w-10rem font-bold text-lg"
                   [ngClass]="{'negative': productivityGroup.get(item.key)?.get('remaining')?.value < 0, 'positive': productivityGroup.get(item.key)?.get('remaining')?.value > 0}">
                    {{productivityGroup.get(item.key)?.get('remaining')?.value | number}}
                    <span *ngIf="items[item.key].piped">m3</span>
                </p>
            </div>
        </ng-template>
        <ul class="list-none m-0 px-2">
            <ng-container *ngFor="let recipe of item.value.recipes | keyvalue | filter:{}; let last = last" formGroupName="recipes">
                <li class="flex" [formGroupName]="recipe.key">
                    <p class="flex-1 m-0">{{recipe.value.name}}</p>
                    <p class="w-10rem text-white-alpha-70 m-0 cursor-pointer"
                       *ngIf="!productivityGroup.get(item.key)?.get('recipes')?.get(recipe.key)?.value.editing"
                       (click)="toggleInlineInput($any(productivityGroup.get(item.key)?.get('recipes')?.get(recipe.key)))">
                        {{productivityGroup.get(item.key)?.get('recipes')?.get(recipe.key)?.value.rate}}
                        <span *ngIf="items[item.key].piped">m3</span>
                    </p>
                    <input
                        *ngIf="productivityGroup.get(item.key)?.get('recipes')?.get(recipe.key)?.value.editing"
                        type="number" min="0" formControlName="rate" #productivityGroupRate>
                </li>
                <p-divider *ngIf="!last"></p-divider>
            </ng-container>
        </ul>
    </p-card>
</form>
